<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>フラッグとは</h2>
      <p>
        フラッグは<b>Flag数字{キーワード}</b>の形でウェブサーバに隠されています。
        数字の部分には001から始まる連番が付与されています。
      </p>
    </div>
    <div class="col-md-6">
      <h2>キーワードを見つけたら</h2>
      <p>
        キーワードを見つけたら、urlの末尾に追加して次のページにアクセスしましょう。
      </p>
      <p>
        例えばFlag000{yyy}を見つけたらurlの末尾を/flags/yyyに変更します。
      </p>
    </div>
  </div>
</div>

<!-- Flag001{22811dd94d65037ef86535740b98dec8} -->
<!--
  このページではHTMLコメントの中にフラッグが隠されていました
  ページには表示されませんが、このように誰でも確認できるので
  コメントに非公開情報を残してはいけません
-->