<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>クッキーとは</h2>
      <p>
        HTTPにおいてWebブラウザとWebサーバ間で状態を管理するプロトコル、またはそこで用いられるWebブラウザ上に保存された情報のこと
      </p>
    </div>
    <div class="col-md-6">
      <h2>クッキーの確認方法</h2>
      <a href="https://qiita.com/pipi0813/items/93e60c605f89f93e49fb">主要ブラウザCookieの確認方法まとめ</a>
    </div>
  </div>
</div>