<div class="container">
  <style>
    .flag:after {
      content: "Flag004{e7e94d9ef1edaf2c6c55e9966b551295}";
      margin-top: 60px;
    }
  </style>
  <div class="row">
    <div class="col-md-6">
      <h2>CSSとは</h2>
      <p class="flag">
        CSS（Cascading Style Sheets、カスケーディング・スタイル・シート）とは、ウェブページのスタイルを指定するための言語です
      </p>
    </div>
    <div class="col-md-6">
      <h2>CSSの設定を調べる方法</h2>
      <p>
      <a href="https://support.sugutsukaeru.jp/ja/customize/homepage-design/253.html">CSSの設定を調べる方法（Web開発者ツールの使い方）</a>
      </p>
    </div>
  </div>
  <link rel="stylesheet" href="flag.css">
</div>