<p>
フラッグは<code>Flag{キー文字列}</code>の形の文字列でページのどこかに隠されています。
キー文字列を入手したら、urlの末尾に追加して次のページに進みましょう。
</p>
<p>
例えば現在、https://ctf.sofia3dd.net/flags/xxxにアクセスしており、Flag{yyy}を見つけたら
https://ctf.sofia3dd.net/flags/yyyに変更してアクセスします。
</p>
<p>
問題によっては、キー文字列の代わりに、取得方法・生成方法が書かれていることがあります。
例：Flag{1から100までの合計} -> 5050
https://ctf.sofia3dd.net/flags/5050にアクセス
</p>

<!-- Flag001{f83a0aa1f9ca0f7dd5994445ba7d9e80} -->
