<div class="container">
  <script>
    var getTheFlag = function() { return [...Array(32).keys()].map(i => String.fromCharCode(i * 23 % 26 + 97)).join(""); };
  </script>

  <div class="row">
    <div class="col-md-6">
      <h2>コンソールからjavascriptを実行</h2>
      <a href="https://hacknote.jp/archives/21674/">https://hacknote.jp/archives/21674/</a>
    </div>
  </div>

</div>