<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>暗号学的ハッシュ関数</h2>
      <p>暗号学的ハッシュ関数（あんごうがくてきハッシュかんすう、英: cryptographic hash function）は、ハッシュ関数のうち、暗号など情報セキュリティの用途に適する暗号数理的性質をもつもの。任意の長さの入力を（通常は）固定長の出力に変換する。</p>
    </div>
  </div>
</div>