<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>SSLサーバ証明書とは</h2>
      <a href="https://jp.globalsign.com/ssl-pki-info/ssl_beginner/sslcerts.html">https://jp.globalsign.com/ssl-pki-info/ssl_beginner/sslcerts.html</a>
    </div>
    <div class="col-md-6">
      <h2>確認方法</h2>
      <a href="https://www.atmarkit.co.jp/ait/articles/1809/05/news032.html">Google ChromeでWebサイトのSSLサーバ証明書を調査、確認する</a>
    </div>
  </div>
</div>