<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>リポジトリをフォークする</h2>
      <a href="https://help.github.com/ja/github/getting-started-with-github/fork-a-repo">https://help.github.com/ja/github/getting-started-with-github/fork-a-repo</a>
    </div>
    <div class="col-md-6">
      <h2>5分でAWS Lambdaにデプロイできる「Ruby on Jets」</h2>
      <a href="https://qiita.com/kskinaba/items/9c570093ed912f8f1681">https://qiita.com/kskinaba/items/9c570093ed912f8f1681</a>
    </div>
  </div>
</div>