<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>パングラムとは</h2>
      <p>
        ラテン文字のアルファベット26字をすべて用い、かつ重複をなるべく少なくした短文のこと
      </p>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>